#container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-form {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 55%;
    background-color: var(--branco);
    border-radius: 40px;
}

#container-form h1 {
    margin: 0;
    margin-bottom: 5%;
}

input[type=number],
input[type=password] {
    font-size: 20px;
    background: var(--branco);
    border: 1px solid var(--branco-borda);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 5px;
    width: 70%;
}

input[type=number]::placeholder,
input[type=password]::placeholder {
    color: var(--texto-placeholder);
}

#bottom-inputs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 0;
    padding: 10px;
    width: 70%;
}

.checkbox {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.checkbox + label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkbox + label::before {
    content: "";
    background: url('../img/UncheckedCheckbox.png') no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.checkbox:checked + label::before {
    background-image: url('../img/CheckedCheckbox.png');
}

#a-forgot-password {
    color: var(--azul);
    font-style: italic;
}

#a-register, #a-login {
    text-decoration: none;
    width: 74.5%;
    cursor: pointer;
    position: relative;
}

#a-register {
    margin-top: 5px;
}

#a-login {
    margin-top: 7.5%;
}

#btn-register, #btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: relative;
    cursor: pointer;
    padding: 10px;
}

#btn-register {
    background: var(--branco);
    color: var(--amarelo-um-pouco-escuro);
    border: 3px solid var(--amarelo-um-pouco-escuro);
}

#btn-login {
    background-color: var(--amarelo-um-pouco-escuro);
    color: var(--branco);
    border: none;
}

.background {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#bar-right {
    right: 0;
    top: 0;
    width: 15%;
}

#bar-left {
    left: 0;
    bottom: 0;
    width: 15%;
}

#comb-right {
    right: 22%;
    top: 30%;
    width: 15%;
}

#comb-left {
    left: 27%;
    bottom: 10%;
    width: 15%;
}

#triangle-left {
    left: 0;
    top: 0;
    width: 60%;
}

#icon-left {
    display: flex;
    align-items: center;
    left: 5%;
    top: 3%;
    width: 2.5%;
    z-index: 2;
}

#icon-left-img {
    height: 100%;
    width: 100%;
}

#icon-left-text {
    font-size: 2rem;
    font-weight: bold;
}