#container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-header {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--amarelo-claro);
    box-sizing: border-box;
}

#icon-left,
#search-bar,
#navbar-buttons {
    flex-shrink: 0;
}

#icon-left {
    display: flex;
    align-items: center;
    width: 20%;
    z-index: 2;
}

#icon-left-img {
    height: 15%;
    width: 15%;
}

#icon-left-text {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#search-bar {
    width: 40%;
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    width: 100%;
}

.icon-search {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: auto;
}

#input-search-bar {
    width: 100%;
    padding-left: 35px; /* espaço à esquerda para a imagem */
    border-radius: 10px;
}

#input-search-bar {
    width: 100%;
    border-radius: 10px;
}

#container-header input[type=text] {
    font-size: 15px;
    background: var(--branco);
    border: 1px solid var(--branco-borda);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 5px;
}

#container-header input[type=text]::placeholder {
    color: var(--texto-placeholder);
}

#navbar-buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-a {
    width: 10%;
    height: 10%;
}

.navbar-buttons-img {
    width: 100%;
    height: 100%;
}

#qty-chronos {
    display: flex;
    align-items: center;
    gap: 1px;
    width: 18%;
}

#qty-chronos-img {
    width: 55%;
    height: 100%;
}

#qty-chronos-text {
    font-weight: bold;
}

.background {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#comb-left {
    left: 0;
    top: 10%;
    width: 15%;
}

#comb-right {
    right: 0;
    top: 10%;
    width: 15%;
}

#container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
}

#container-makerequest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#white-lines {
    margin-top: 5%;
}

#makerequest-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#makerequest-content h3 {
    color: var(--branco);
    font-weight: normal;
}

#add-service-a {
    border: 1px solid var(--branco);
    border-radius: 20px;
    border-style: none;
    background-color: var(--branco);
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center;
    width: 450px;
    gap: 10px; /* Reduza o gap para aproximar texto e imagem */
    margin: 20px;
    text-decoration: none;
    color: var(--preto);
}

.tooltip {
    position: absolute;
    background-color: white;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    transform: translateX(-50%);
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#container-requests {
    width: 100%;
}

#requests-filter {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 24px; /* Espaço entre os itens */
}

#requests-filter h3 {
    color: var(--branco);
}

#avaliation-container,
#slider-container,
#ordering-container,
#category-container {
    width: 20%;
}

#requests-filter input,
#requests-filter select {
    width: 100%;
}

#category-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

#input-category {
    outline: none;
    font-size: 20px;
    flex-grow: 1;
    padding: 5px;
}

#input-category::placeholder {
    color: var(--texto-placeholder);
}

.slider-container .tooltip {
    opacity: 0; /* Esconde a tooltip inicialmente */
}

.slider-container:hover .tooltip {
    opacity: 1; /* Mostra a tooltip ao passar o mouse */
}