#container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-header {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--amarelo-claro);
    box-sizing: border-box;
}

#icon-left,
#search-bar,
#navbar-buttons {
    flex-shrink: 0;
}

#icon-left {
    display: flex;
    align-items: center;
    width: 20%;
    z-index: 2;
}

#icon-left-img {
    height: 15%;
    width: 15%;
}

#icon-left-text {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#search-bar {
    width: 40%;
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    width: 100%;
}

.icon-search {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: auto;
}

#input-search-bar {
    width: 100%;
    padding-left: 35px; /* espaço à esquerda para a imagem */
    border-radius: 10px;
}

#input-search-bar {
    width: 100%;
    border-radius: 10px;
}

input[type=text] {
    font-size: 15px;
    background: var(--branco);
    border: 1px solid var(--branco-borda);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 5px;
    width: 70%;
}

input[type=text]::placeholder {
    color: var(--texto-placeholder);
}

#navbar-buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-a {
    width: 10%;
    height: 10%;
}

.navbar-buttons-img {
    width: 100%;
    height: 100%;
}

#qty-chronos {
    display: flex;
    align-items: center;
    gap: 1px;
    width: 18%;
}

#qty-chronos-img {
    width: 55%;
    height: 100%;
}

#qty-chronos-text {
    font-weight: bold;
}

.background {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#comb-left {
    left: 0;
    top: 10%;
    width: 15%;
}

#comb-right {
    right: 0;
    top: 10%;
    width: 15%;
}

<<<<<<< HEAD
#container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-makerequest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 45%;
}

#white-lines {
    margin-top: 5%;
}

#makerequest-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#makerequest-content h3 {
    color: var(--branco);
    font-weight: normal;
}

#makerequest-btn button {
    border: 1px solid var(--branco);
    border-radius: 20px;
    border-style: none;
    background-color: var(--branco);
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center;
    width: 450px;
    gap: 10px; /* Reduza o gap para aproximar texto e imagem */
    margin: 20px;
}
=======
#container-make-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
}
>>>>>>> 717d60761876b8319854848a0e5a75b7dd968275
