#container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-form {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 65%;
    min-height: fit-content;
    background-color: var(--branco);
    border-radius: 40px;
    padding: 1%;
}

#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#container-header {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--amarelo-claro);
    box-sizing: border-box;
}

#icon-left,
#search-bar,
#navbar-buttons {
    flex-shrink: 0;
}

#icon-left {
    display: flex;
    align-items: center;
    width: 20%;
    z-index: 2;
}

#icon-left-img {
    height: 15%;
    width: 15%;
}

#icon-left-text {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#search-bar {
    width: 40%;
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    width: 100%;
}

.icon-search {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: auto;
}

#input-search-bar {
    width: 100%;
    padding-left: 35px;
    border-radius: 10px;
}

#input-search-bar {
    width: 100%;
    border-radius: 10px;
}

#container-header input[type=text] {
    font-size: 15px;
    background: var(--branco);
    border: 1px solid var(--branco-borda);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 5px;
}

#container-header input[type=text]::placeholder {
    color: var(--texto-placeholder);
}

#navbar-buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-a {
    width: 10%;
    height: 10%;
}

.navbar-buttons-img {
    width: 100%;
    height: 100%;
}

#qty-chronos {
    display: flex;
    align-items: center;
    gap: 1px;
    width: 18%;
}

#qty-chronos-img {
    width: 55%;
    height: 100%;
}

#qty-chronos-text {
    font-weight: bold;
}


.background {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#bar-right {
    right: 0;
    bottom: 0;
    width: 15%;
}

#bar-left {
    left: 0;
    bottom: 0;
    width: 15%;
}

#comb-right {
    right: 30%;
    bottom: 10%;
    width: 15%;
}

#comb-left {
    left: 27%;
    top: 10%;
    width: 15%;
}


#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#container-form h1 {
    margin: 0;
    margin-bottom: 5%;
}

input[type=text],
input[type=number],
textarea {
    outline: none;
    font-size: 20px;
    background: var(--branco);
    border: 1px solid var(--branco-borda);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 5px;
    width: 75%;
}

input[type=text]::placeholder,
input[type=number]::placeholder,
textarea::placeholder {
    color: var(--texto-placeholder);
}

textarea {
    resize: none;
}

.category-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
    padding: 10px;
    margin: 5px;
    background-color: var(--branco);
    border: 1px solid var(--branco-borda);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-with-tags {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tag {
    display: inline-flex;
    align-items: center;
    background: var(--amarelo-um-pouco-escuro);
    color: var(--branco);
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}

.tag .remove-tag {
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ffcccc;
}

#label-category {
    font-size: 18px;
    color: var(--texto-placeholder);
}

#input-category {
    outline: none;
    font-size: 20px;
    flex-grow: 1;
    padding: 5px;
}

#input-category::placeholder {
    color: var(--texto-placeholder);
}

#bottom-inputs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 0;
    padding: 10px;
    width: 70%;
}

.checkbox {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.checkbox + label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkbox + label::before {
    content: "";
    background: url('../img/UncheckedCheckbox.png') no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.checkbox:checked + label::before {
    background-image: url('../img/CheckedCheckbox.png');
}

#btn-service-image, #btn-register, #btn-cancel {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    padding: 10px;
}

#btn-service-image {
    padding-left: 20px;
    padding-right: 0; /* garante borda direita limpa */
    width: 79%;
    background: var(--branco);
    color: var(--amarelo-um-pouco-escuro);
    border: 3px solid var(--amarelo-um-pouco-escuro);
    justify-content: space-between;
}

#btn-register {
    width: 47%;
    background-color: var(--amarelo-um-pouco-escuro);
    color: var(--branco);
    border: none;
    justify-content: center;
}

#btn-cancel {
    width: 100%;
    background: var(--branco);
    color: var(--amarelo-um-pouco-escuro);
    border: 3px solid var(--amarelo-um-pouco-escuro);
    justify-content: center;
}

#btn-service-image #icon-service-image {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    padding-right: 10px;
}

#service-image-chosen {
    font-size: 14px;
    color: #666;
    margin-top: -10px;
    margin-bottom: 20px;
    align-self: flex-start;
}

#input-service-image {
    display: none;
}

#a-cancel {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    width: 47%;
}

#bottom-btns {
    width: 79%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}